<div class="jumbotron">
  <google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true">
        <markers  models="stations" 
                  coords="'self'" 
                  options="'options'"
                  click="'onClick'"
                  isLabel='true'>
            <windows show="'show'">
                <div ng-non-bindable>
                  {{name}}
                </div>
            </windows>
        </markers>

        <polyline path="route.path" 
                  stroke="route.stroke" 
                  visible='route.visible'
                  geodesic='route.geodesic' 
                  fit="false" 
                  editable="route.editable" 
                  draggable="route.draggable" 
                  icons='route.icons'
                  static="true">
        </polyline>
  </google-map>
</div>